<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.ibooker.zcameralib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".ScanBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RotatePictureActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
